<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ricardogarcia.topfreeapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Splash"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Categories"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.Apps"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.AppDescription"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="nosensor" />
        <activity android:name=".activities.SearchActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <meta-data android:name="android.app.default_searchable"
            android:value=".activities.SearchActivity" />
    </application>

</manifest>